@model Clander.ViewModel.Clandertest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Models", FormMethod.Post))

{
    <div class="row" style="" dir="rtl">
        <label class=" ">
        التاريخ
        </label>
        <div class="col-sm-10">
            <div class="col-sm-9">
                @Html.TextBox("gregDateTextBox", "", new {autocomplete = "off", @class = "form-control", @readonly = "readonly"})
                @Html.TextBox("hijriDateTextBox", "", new {autocomplete = "off", @class = "form-control hidden", @readonly = "readonly"})
                @Html.ValidationMessageFor(model => model.BiryhDay)
            </div>
            <div class="col-sm-1">
                <input id="dateIsHijriCheckbox" type="checkbox" data-toggle="toggle" data-on="هجري" data-off="ميلادي">
            </div>
        </div>
    </div>



}



<script type="text/javascript">

   // $('#popupDatepicker').datepick();


    jQuery(function ($) {
        // For show current page in menu
        // this will remove the active class from previously active menu item
        $(".nav-list li").removeClass("active open");
        $('#Customers-Menu').addClass('active open');
        $('#RecievePayment-Menu-Item').addClass('active');
    })

    var calendarHijri = $.calendars.instance('ummalqura', 'ar');
    var calendarGreg = $.calendars.instance('', 'ar');

    $('#gregDateTextBox').calendarsPicker({
        calendar: calendarHijri, onSelect: function (dateText, inst) {
            $("#date").val(dateText);
        }
    });

    $('#hijriDateTextBox').calendarsPicker({
        calendar: calendarGreg, onSelect: function (dateText, inst) {
            $("#date").val(dateText);
        }
    });

    $("#calendar_is_hijri").prop('checked', true);
    $("#dateIsHijriCheckbox").on('change', function () {
        if (this.checked) {
            $("#gregDateTextBox").removeClass('hidden');
            $("#hijriDateTextBox").addClass('hidden');

            $("#calendar_is_hijri").prop('checked', true);
            $("#date").val($("#gregDateTextBox").val());
        } else {
            $("#gregDateTextBox").addClass('hidden');
            $("#hijriDateTextBox").removeClass('hidden');

            $("#calendar_is_hijri").prop('checked', false);
            $("#date").val($("#hijriDateTextBox").val());
        }
    });
  

  
</script>